<div class="main-container">
  <div class="form-container" [formGroup]="form">
    <div class="form-input">
      <span class="control-title">
        Post size:
      </span>
      <input class="form-control default-input"
             [formControlName]="controls.postSize"
             type="number">
    </div>
    <div class="form-input">
      <span class="control-title">
        Panel max length:
      </span>
      <input class="form-control default-input"
             [formControlName]="controls.panelMaxLength"
             type="number">
    </div>
    <div class="form-input">
      <span class="control-title">
        Run horizontal length:
      </span>
      <input class="form-control default-input"
             [formControlName]="controls.runHorLength"
             type="number">
    </div>

    <div class="form-group" [formArrayName]="controls.obstructions">
      <div class="obstructions-title__block">
        <span class="control-title">
        Obstructions:
      </span>
        <button class="obstruction-btn"
                (click)="addObstruction()">
          <span>&plus;</span>
        </button>
      </div>

      <div class="obstructions-array">
        @for (_ of obstructionsArray.controls; track $index) {
          <div formGroupName="{{$index}}" class="obstruction-section">
            <div class="obstruction-group">
              <div class="form-input">
                <span>Size:</span>
                <input class="form-control default-input"
                       [formControlName]="obstructionControls.size"
                       type="number">
              </div>
              <div class="form-input">
                <span>Location:</span>
                <input class="form-control default-input"
                       [formControlName]="obstructionControls.location"
                       type="number">
              </div>
              <div class="form-input">
                <span>Type:</span>
                <select id="obstruction-type-{{$index}}"
                        class="default-input"
                        [formControlName]="obstructionControls.type">
                  @for (option of obstructionOptions; track option.name) {
                    <option [ngValue]="option.value">
                      {{ option.name }}
                    </option>
                  }
                </select>
              </div>
            </div>
            <button class="obstruction-btn"
                    (click)="deleteObstruction($index)">
              <span>&minus;</span>
            </button>
          </div>
        }
      </div>
    </div>

    <button class="btn btn-light calculate-button"
            [disabled]="calculationDisabled()"
            (click)="calculate()">
      <span>Calculate</span>
    </button>
  </div>

  <div class="view-container">
    <app-layout-view
      [postLayout]="selectedOption"
      [postSize]="form.get(controls.postSize).value"
      [obstructions]="currObstructions">
    </app-layout-view>
  </div>

  <div class="options-selection-section">
    <button class="btn btn-light"
            [disabled]="!isPreviousOptionAvailable()"
            (click)="onPreviousOption()">
      <span>&lArr;</span>
    </button>
    <button class="btn btn-light"
            [disabled]="!isNextOptionAvailable()"
            (click)="onNextOption()">
      <span>&rArr;</span>
    </button>

    @if (selectedOption) {
      <div class="layout-description">
        <p>
          {{ getDescription(selectedOption.description) }}
        </p>
        <p>
          Center to center: {{ getCenterToCenterLength(selectedOption) | json }}
        </p>
      </div>
    }
  </div>
</div>

